<html>
<head>
    <title>Información personal</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='fav/hoja1.css') }}">
    </head>
<body>
    <section1>
    <h1>INFORMACIÓN PERSONAL</h1>
    </section1>
    <hr>
    <h2>Felipe Alejandro Páez Vargas</h2>
    <li>Edad: 19</li>
    <li>País: Colombia</li>
    <li>Ciudad: Bogotá D.C</li>
    <li>Teléfono: 317 269 6872</li>
    <li>Correo: feapaezv@correo.udistrital.edu.co</li>
    <img
       src="https://pbs.twimg.com/media/C12stwbXEAAc9rY.jpg">
<hr>
<h3>EDUCACIÓN</h3>
<hr>
<table>
    <tr>
        <th>Enero - 2007/2015</th><th> </th><th> </th><th> </th><th> </th><th> </th><th> </th><th>Colegio Claretiano</th>
    </tr>
    <tr>
        <td>Bogotá D.C - Colombia</td><th> </th><th> </th><th> </th><th> </th><th> </th><th> </th><td>Básica primaria</td>
    </tr>
</table>
<table>
    <tr>
        <th>Enero - 2016/2018</th><th> </th><th> </th><th> </th><th> </th><th> </th><th> </th><th>Colegio Alexander Humboldt</th>
    </tr>
    <tr>
        <td>Bogotá D.C - Colombia</td><th> </th><th> </th><th> </th><th> </th><th> </th><th> </th><td>Básica secundaria</td>
    </tr>
</table>
<table>
    <tr>
        <th>Agosto - 2019/20XX</th><th> </th><th> </th><th> </th><th> </th><th> </th><th> </th><th>Universidad Distrital Francisco José de Caldas</th>
    </tr>
    <tr>
        <td>Bogotá D.C - Colombia</td><th> </th><th> </th><th> </th><th> </th><th> </th><th> </th><td>Ingeniería de sistemas</td>
    </tr>
</table>
<hr>
<h3>EXPERIENCIA</h3>
<hr>
<table>
    <tr>
        <th>Enero - 2010/2015</th><th> </th><th> </th><th> </th><th> </th><th> </th><th> </th><th> </th><th> </th><th>NASA (National Aeronautics and Space Administration)</th>
    </tr>
    <tr>
        <td>Washington D.C -  EEUU</td><th> </th><th> </th><th> </th><th> </th><th> </th><th> </th><th> </th><th> </th><td>Ingeniero aeroespacial</td>
    </tr>
</table>
<table>
    <tr>
        <th>Enero - 2016/2018</th><th> </th><th> </th><th> </th><th> </th><th> </th><th> </th><th> </th><th> </th><th>CIA (Central Intelligence Agency)</th>
    </tr>
    <tr>
        <td>Washington D.C -  EEUU</td><th> </th><th> </th><th> </th><th> </th><th> </th><th> </th><th> </th><th> </th><td>Director central de inteligencia</td>
    </tr>
</table>
<table>
    <tr>
        <th>Agosto - 2019/2020</th><th> </th><th> </th><th> </th><th> </th><th> </th><th> </th><th>Google LLC "Limited Liability Company"</th>
    </tr>
    <tr>
        <td>S.Clara/California - EEUU</td><th> </th><th> </th><th> </th><th> </th><th> </th><th> </th><td>Ingeniero de sistemas</td>
    </tr>
</table>
<hr>
<h3>PASATIEMPOS</h3>
<hr>
<ul>
<li>Leer</li>
<li>Hacer ejercicio</li>
<li>Ver películas y anime</li>
<li>Diseñar modelos de naves para llevar al hombre a Marte (NASA)</li>
<ul>
<li>Diseñar robots para la exploración de Marte</li>
</ul>
<li>Investigar, buscar y capturar a los peores criminales del mundo (CIA)</li>
<li>Crear aplicaciones para el ecosistema de Google</li>
</ul>
<hr>
<hr>
    <a href="{{ url_for('fav_principal')}}">Atrás(Datos personales)</a><th> - - - - - - - - </th><a href="{{ url_for('fav_Hola3') }}">Siguiente(Tecnologías de interes)</a>
    <hr>
    </body>
</html>