
<html>
    <head>
        <title>Datos personales</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='fav/hoja.css') }}">
        </head>
    <body>
        <section1>
        <h1>DATOS PERSONALES</h1>
        <img
       src="https://www.udistrital.edu.co/themes/custom/versh/images/default/preloader.png">
        </section1>
        <hr>
        <h3>Nombre:</h3>
        <section>
        <h1> Felipe Alejandro Páez Vargas </h1>
        <hr>
        </section>
        <img
       src="https://pbs.twimg.com/media/C12stwbXEAAc9rY.jpg">
       <section2>
           <h1>.</h1>
           <h1>.</h1>
           <h1>.</h1>
           <h1>.</h1>
           <h1>.</h1>
           <h1>.</h1>
           <h1>.</h1>
           <hr>
           <h3>Código:</h3>
           <h2>20192020098</h2>
           <hr>
       </section2>
	<ul>
        <li><a href="{{ url_for('fav_Hola2') }}"> Siguiente (Información personal) </a></li>
	    <li><a href="{{ url_for('index') }}"> Volver al Menu </a></li>
	</ul>
        <hr>
        </body>
    </html>
