<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <center><h1>Eliminar Informacion academica de {{ persona.nombre }} {{ persona.apellido }}</h1></center>
    <hr>
    <form action="/accion_eliminar_academica" method="post">
        <input type="hidden" name="codigo" value="{{ persona.id }}">
        {% for i in range(len) %}
        <label for="{{ persona.academica[i].id }}">{{ persona.academica[i].tipo }} - {{ persona.academica[i].titulo }} - {{ persona.academica[i].year }}</label>
        <input type="checkbox" name="posicion_borrar" value="{{ i }}" id="{{ persona.academica[i].id }}"><br><br>
        {% endfor %}
        <input type="submit" value="Borrar">
    </form>
    <hr>
</body>
</html>