h1 {
	font-family: Arial;
	color: DarkBlue;
	font-weight: bolder;
	font-size: 3em;
}

h2,h3 {
	font-family: Arial;
	color: DarkBlue;
	font-weight: bolder;
	font-size: 1.5em;
}

ul {
	font-family: Arial;
	color: Black;
	font-weight: bolder;
	font-size: 2em;

}


p {
	font : impact;
	font-size: 1.25em;
	color : black;
	font-family: Arial;
}

nav {
	background-color : orange;
}