{% extends "plantilla.html "%}
{% block body %}

<center><h1>Agregar Cita</h1></center>
<form action="{{ request.path }}" method="post">
    {% if id == "no_id" %}
        <label for="con_id">Contacto: </label>
        <select name="con_id" id="con_id">
            {% for contacto in contactos %}
                <option value="{{ contacto[0] }}">{{ contacto[2] }} {{ contacto[3] }}</option>
            {% endfor %}
        </select><br><br>
    {% else %}
        {% if id != "1" %}
            <a href="/citas_admin/{{ id }}">
                <p>Agregar Citas de Usuario Admin</p>
            </a>
        {% endif %}
    {% endif %}
    <label for="cit_lugar">Lugar Cita: </label>
    <input type="text" name="cit_lugar" id="cit_lugar" placeholder="Lugar Cita"><br><br>
    <label for="cit_fecha">Fecha Cita: </label>
    <input type="date" name="cit_fecha" id="cit_fecha" placeholder="Fecha Cita"><br><br>
    <label for="cit_hora">Hora Cita: </label>
    <input type="time" name="cit_hora" id="cit_hora" placeholder="Hora Cita"><br><br>
    <label for="cit_descripcion">Descripcion Cita: </label>
    <input type="text" name="cit_descripcion" id="cit_descripcion" placeholder="Descripcion Cita"><br><br>
    <input type="submit" value="Agregar Cita">
</form>


{% endblock %}