<html>
	<head>
		<title>Informacion Educativa</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='wpc/estilos.css') }}">
	</head>
	<body>
		<center>
			<h1>Informacion Educativa</h1>
		</center>
			<h2>Formacion Academica</h2>
			<section>
				<p>Bachiller Academico</p>
				<p>Gimnasio San Jose</p>
				<p>Bogota D.C.</p>
				<p>2016</p>
			</section>
			<h2>Cursos y Seminarios</h2>
			<section>
				<p>Tecnico Comercio Internacional</p>
				<p>SENA</p>
				<p>Bogota D.C.</p>
				<p>2016</p>			
			</section>
			<h2>Educacion Actual</h2>
			<section>
				<p>Ingenieria De Sistemas</p>
				<p>Semestre Actual: 5</p>					
				<p>Universidad Distrital</p>
				<p>Bogota D.C.</p>
				<p>2018</p>
			</section>						
			<hr>
			<h2>Menu</h2>
		<ul>
			<li><nav><a href="{{ url_for('wpc_principal') }}">Principal</a></nav></li>
		</ul>
		<hr>
	</body>
</html>
