<html>
	<head>
		<title>Tecnologias</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='wpc/estilos.css') }}">
	</head>
	<body>
		<center>
			<h1>Tecnologias</h1>
		</center>
			<h2>Lenguajes De Programacion</h2>
			<ul>
			<li>
			<section>
				<p>Basico C++</p>
				<img src="{{ url_for('static', filename='wpc/c++.png') }}" width="300px">
			</section>
			</li>
			<li>
			<section>
				<p>Basico Java</p>
				<img src="{{ url_for('static', filename='wpc/java.jpg') }}" width="400px">
			</section>
			</li>
			</ul>
			<hr>
			<h2>Menu</h2>
		<ul>
			<li><nav><a href="{{ url_for('wpc_principal') }}">Principal</a></nav></li>
		</ul>
		<hr>
	</body>
</html>
